<!-- IF not VIEW_TABLE -->
<!-- INCLUDECSS css/cronstatus.css -->
<!-- INCLUDECSS {ROOT_PATH}ext/phpbb/helper/css/jquery.simpledialog.css -->
<!-- INCLUDECSS {ROOT_PATH}ext/phpbb/helper/css/ext_details.css -->
<!-- INCLUDE overall_header.html -->

<a name="maincontent"></a>

<h1>{L_ACP_CRON_STATUS_TITLE} <a href="{U_ACTION}&amp;action=details" class="simpledialog"><i class="fa fa-info-circle"></i></a><i id="circle" class="fa fa-circle-o-notch fa-spin"></i><span id="ProgressStatus" title="{L_CRON_STATUS_REFRESH}">60</span><span id="LoadError" title="{L_CRON_STATUS_ERROR_EXPLAIN}"><i class="fa fa-warning"></i><span id="LoadErrorTimeout">{L_CRON_STATUS_TIMEOUT}</span><span id="LoadPageError">{L_CRON_STATUS_ERROR}</span></span></h1>

<p>{L_ACP_CRON_STATUS_EXPLAIN}</p>

<div id="cron_table_container">
<!-- ENDIF -->
<!-- IF .ready or .not_ready or .never_started -->
<table class="table1" id="cron_table" data-no-responsive-header="true">
    <col class="row1">
    <col class="row1">
    <col class="row1">
    <thead>
        <tr>
            <th>
                {L_CRON_TASK_NAME}
                <a href="{U_ACTION}&amp;sk=display_name&amp;sd=d" title="{L_DESCENDING}"><i class="fa fa-arrow-up"<!-- IF U_NAME == 'display_name' and U_SORT == 'd' --> id="act-arrow"<!-- ENDIF -->></i></a>
                <a href="{U_ACTION}&amp;sk=display_name&amp;sd=a" title="{L_ASCENDING}"><i class="fa fa-arrow-down"<!-- IF U_NAME == 'display_name' and U_SORT == 'a' --> id="act-arrow"<!-- ENDIF -->></i></a>
            </th>
            <th>
                {L_CRON_TASK_DATE}<a href="{U_ACTION}&amp;sk=task_date&amp;sd=d" title="{L_DESCENDING}"><i class="fa fa-arrow-up"<!-- IF U_NAME == 'task_date' and U_SORT == 'd' --> id="act-arrow"<!-- ENDIF -->></i></a>
                <a href="{U_ACTION}&amp;sk=task_date&amp;sd=a" title="{L_ASCENDING}"><i class="fa fa-arrow-down"<!-- IF U_NAME == 'task_date' and U_SORT == 'a' --> id="act-arrow"<!-- ENDIF -->></i></a>
            </th>
            <th>
                {L_CRON_NEW_DATE}<a href="{U_ACTION}&amp;sk=new_date&amp;sd=d" title="{L_DESCENDING}"><i class="fa fa-arrow-up"<!-- IF U_NAME == 'new_date' and U_SORT == 'd' --> id="act-arrow"<!-- ENDIF -->></i></a>
                <a href="{U_ACTION}&amp;sk=new_date&amp;sd=a" title="{L_ASCENDING}"><i class="fa fa-arrow-down"<!-- IF U_NAME == 'new_date' and U_SORT == 'a' --> id="act-arrow"<!-- ENDIF -->></i></a>
            </th>
        </tr>
    </thead>
    <tbody>
        <!-- IF .ready -->
        <tr>
            <td class="row3"><b>{L_CRON_STATUS_READY_TASKS}</b><span id="runall">{L_CRON_TASK_RUN_ALL}</span></td><td class="row3" colspan="2"><span id="date" style="float:right" title="{L_CRON_TASK_DATE_TIME}">&nbsp;</span></td>
        </tr>
        <!-- BEGIN ready -->
        <tr class="row-highlight">
            <td><strong>{ready.DISPLAY_NAME}</strong><!-- IF ready.LOCKED --> <a href="{U_UNLOCK}&action=reset"><i class="fa fa-lock cron-locked" title="{L_CRON_TASK_LOCKED}"></i></a><!-- ENDIF --><!-- IF CRON_URL -->{ready.CRON_TASK_RUN}<span class="cron_run" id="{ready.DISPLAY_NAME}">{L_CRON_TASK_RUN}</span><span class="cron_running" id="{ready.DISPLAY_NAME}_running">{L_CRON_TASK_RUNNING}</span><!-- ENDIF --></td>
            <td>{ready.TASK_DATE}</td>
            <td><!-- IF ready.NEW_DATE -->{ready.NEW_DATE}<!-- ELSE -->-<!-- ENDIF --></td>
        </tr>
        <!-- END ready -->
        <!-- ENDIF -->
        <!-- IF .not_ready -->
        <tr>
            <td class="row3" colspan="3"><b>{L_CRON_STATUS_NOT_READY_TASKS}</b><!-- IF not .ready --><span id="date" style="float:right" title="{L_CRON_TASK_DATE_TIME}">&nbsp;</span><!-- ENDIF --></td>
        </tr>
        <!-- BEGIN not_ready -->
        <tr class="row-highlight">
            <td><strong<!-- IF not_ready.TASK_OK or not_ready.LOCKED --> style="color: #BC2A4D;"<!-- ENDIF -->>{not_ready.DISPLAY_NAME}</strong><!-- IF not_ready.LOCKED --> <a href="{U_UNLOCK}&action=reset"><i class="fa fa-lock cron-locked" title="{L_CRON_TASK_LOCKED}"></i></a><!-- ENDIF -->
            
            <!-- IF not not_ready.TASK_OK and not not_ready.LOCKED --><span class="cron_now" id="{not_ready.DISPLAY_NAME}" style="float:right;">{L_CRON_TASK_RUN_NOW}</span><!-- ENDIF -->
            <span class="cron_running" id="{not_ready.DISPLAY_NAME}_running">{L_CRON_TASK_RUNNING}</span>
            </td>
            <td>{not_ready.TASK_DATE}</td>
            <td><!-- IF not_ready.NEW_DATE -->{not_ready.NEW_DATE}<!-- ELSE -->-<!-- ENDIF --></td>
        </tr>
        <!-- END not_ready -->
        <!-- ENDIF -->

        <!-- IF .never_started -->
        <tr>
            <td class="row3" colspan="3"><b id="never_startedbtn">{L_CRON_STATUS_NEVER_STARTED_TASKS}</b></td>
        </tr>
        <tr><td colspan="3" id="never_started" style="padding:0;display:none;">
        <table class="table1 responsive show-header" data-no-responsive-header="true">
        <col class="row1">
        <col class="row1">
        <col class="row1">
        <!-- BEGIN never_started -->
        <tr class="row-highlight">
            <td><strong<!-- IF never_started.TASK_OK or never_started.LOCKED --> style="color: #BC2A4D;"<!-- ENDIF -->>{never_started.DISPLAY_NAME}</strong><!-- IF never_started.LOCKED --> <a href="{U_UNLOCK}&action=reset"><i class="fa fa-lock cron-locked" title="{L_CRON_TASK_LOCKED}"></i></a><!-- ENDIF -->
            
            <!-- IF not never_started.TASK_OK and not never_started.LOCKED --><span class="cron_now" id="{never_started.DISPLAY_NAME}" style="float:right;">{L_CRON_TASK_RUN_NOW}</span><!-- ENDIF -->
            <span class="cron_running" id="{never_started.DISPLAY_NAME}_running">{L_CRON_TASK_RUNNING}</span>
            </td>
            <td>{never_started.TASK_DATE}</td>
            <td><!-- IF never_started.NEW_DATE -->{never_started.NEW_DATE}<!-- ELSE -->-<!-- ENDIF --></td>
        </tr>
        <!-- END never_started -->
        </table>
        </td></tr>



        <!-- ENDIF -->
    </tbody>
</table>
<!-- IF not VIEW_TABLE -->
</div>
<img id="run_cron_task" src="" width="1" height="1" alt="" />{RUN_CRON_TASK}<br />
<script type="text/javascript">
// <![CDATA[
	var cron_url = "{CRON_URL}";
// ]]>
</script>
<!-- INCLUDEJS {ROOT_PATH}ext/phpbb/helper/js/jquery.simpledialog.js -->
<!-- INCLUDEJS js/jquery-cookie.js -->
<!-- INCLUDEJS js/cronstatus.js -->
<!-- ENDIF -->
<!-- ELSE -->
<div class="errorbox">
	<h3>{L_CRON_STATUS_NO_TASKS}</h3>
</div>
<!-- ENDIF -->
<!-- IF not VIEW_TABLE -->
<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->
