<h1 class="ExtensionName"><!-- IF META_DISPLAY_NAME -->{META_DISPLAY_NAME} - <!-- ENDIF -->{L_EXT_DETAILS}</h1>

<fieldset class="description_fieldset">
    <span id="meta_description" class="fieldset_legend">{L_DESCRIPTION}</span>
    <fieldset style="width: <!-- IF .note -->48<!-- ELSE -->100<!-- ENDIF -->%;">
        <div>
            <h1 style="color: #1e5c18; background-color: #d7fdd3;"><i class="fa fa-signal"></i> {L_DESCRIPTION_PAGE}</h1>
            <p class="description_list">
            <!-- BEGIN details -->
                <span><i class="fa fa-fw fa-check"></i> {details.DESCRIPTION}</span>
            <!-- END details -->
            </p>
        </div>
    </fieldset>
    <!-- IF .note -->
    <fieldset style="float: right; width: 48%;">
        <div>
            <h1 style="color: #103f53; background-color: #e0f5fe;"><i class="fa fa-exclamation"></i> {L_DESCRIPTION_NOTICE}</h1>
            <p class="description_list">
            <!-- BEGIN note -->
                <span<!-- IF note.S_VERSIONCHECK --> style="color:red;"<!-- ENDIF -->><i class="fa fa-exclamation"></i> {note.DESCRIPTION}</span>
             <!-- END note -->
            </p>
        </div>
    </fieldset>
    <!-- ENDIF -->
<div class="description_bubble big_bubble">
    <span class="description_name">{L_CLEAN_NAME}</span>
    <strong class="description_value" id="meta_name">{META_NAME}</strong>
</div>
<!-- IF S_VERSIONCHECK && S_UP_TO_DATE -->
<div class="description_bubble small_bubble" title="{UP_TO_DATE_MSG}">
    <span class="description_name">{L_VERSION}</span>
    <span class="description_value description_value_ok" id="meta_version">{META_VERSION}</span>
</div>
<!-- ELSE IF S_VERSIONCHECK && not S_UP_TO_DATE -->
<div class="description_bubble small_bubble" title="{UP_TO_DATE_MSG}">
    <span class="description_name">{L_VERSION}</span>
    <span class="description_value description_value_old" id="meta_version">{META_VERSION}</span>
</div>
<!-- ELSE -->
<div class="description_bubble small_bubble">
    <span class="description_name">{L_VERSION}</span>
    <span class="description_value" id="meta_version">{META_VERSION}</span>
</div>
<!-- ENDIF -->
<!-- IF META_HOMEPAGE -->
<div class="description_bubble big_bubble">
    <span class="description_name">{L_HOMEPAGE}</span>
    <strong class="description_value" id="meta_homepage"><a href="{META_HOMEPAGE}"><i class="fa fa-globe"></i> http://phpbb.com</a></strong>
</div>
<!-- ENDIF -->
<!-- IF META_TIME -->
<div class="description_bubble small_bubble">
    <span class="description_name">{L_TIME}</span>
    <span class="description_value" id="meta_time">{META_TIME}</span>
</div>
<!-- ENDIF -->
<div class="description_bubble small_bubble">
    <span class="description_name">{L_LICENSE}</span>
    <span class="description_value" id="meta_license">{META_LICENSE}</span>
</div>
</fieldset>

<!-- IF S_VERSIONCHECK && not S_UP_TO_DATE -->
    <!-- BEGIN updates_available -->
    <fieldset>
        <span class="fieldset_legend">{L_LATEST_VERSION}</span>
        <div class="extension_latest_version_wrapper">
            <strong class="extension_latest_version">{updates_available.current}</strong>
            <!-- IF updates_available.download-->
            <a href="{updates_available.download}" class="extension_author_link" title="{L_DOWNLOAD_LATEST}"><i class="fa fa-download"></i></a>
            <!-- ENDIF -->
            <!-- IF updates_available.announcement -->
            <a href="{updates_available.announcement}" class="extension_author_link" title="{L_ANNOUNCEMENT_TOPIC}"><i class="fa fa-bullhorn"></i></a>
            <!-- ENDIF -->
        </div>
    </fieldset>
    <!-- END updates_available -->
<!-- ENDIF -->

<!-- IF META_REQUIRE_PHPBB || META_REQUIRE_PHP -->
<fieldset>
    <span class="fieldset_legend">{L_REQUIREMENTS}</span>
    <!-- IF META_REQUIRE_PHPBB -->
    <div class="requirements_bubble">
        <span class="requirements_name">{L_PHPBB_VERSION}</span>
        <span class="requirements_value<!-- IF META_REQUIRE_PHPBB_FAIL --> requirements_value_not_met<!-- ENDIF -->" id="require_phpbb">{META_REQUIRE_PHPBB}</span>
    </div>
    <!-- ENDIF -->
    <!-- IF META_REQUIRE_PHP -->
    <div class="requirements_bubble" style="float:right;">
        <span class="requirements_name">{L_PHP_VERSION}</span>
        <span class="requirements_value<!-- IF META_REQUIRE_PHP_FAIL --> requirements_value_not_met<!-- ENDIF -->" id="require_php">{META_REQUIRE_PHP}</span>
    </div>
    <!-- ENDIF -->
</fieldset>
<!-- ENDIF -->

<fieldset>
    <span class="fieldset_legend">{L_AUTHOR_INFORMATION}</span>
    <!-- BEGIN meta_authors -->
    <div class="extension_author">
        <strong class="extension_author_name">{meta_authors.AUTHOR_NAME}</strong>
        <!-- IF meta_authors.AUTHOR_EMAIL -->
        <a href="mailto:{meta_authors.AUTHOR_EMAIL}" title="{L_AUTHOR_EMAIL}" class="extension_author_link"><i class="fa fa-envelope"></i></a>
        <!-- ENDIF -->
        <!-- IF meta_authors.AUTHOR_HOMEPAGE -->
        <a href="{meta_authors.AUTHOR_HOMEPAGE}" title="{L_AUTHOR_HOMEPAGE}" class="extension_author_link"><i class="fa fa-globe"></i></a>
        <!-- ENDIF -->
    </div>
    <!-- END meta_authors -->
</fieldset>